/*Général*/


canvas{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body{
	background-image: url("Background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

td{
	color:#fff;
}

/*Id*/

#div_dessin{
	height:100%;
	padding: 2%;
}

#div_result{
	height:100%;
	padding: 2%;
}

#title{
	padding: 20px 20px 40px 20px;
	color: white;
}

#dessin{
	padding-bottom: 20px;
}


/*Class*/

.ui-helper-center {
    text-align: center;
    color: white;
    margin-left:25%;
    margin-right:auto;
    margin-top:2%;
    width:50%;
    height:50%;
}

.ui-helper-green {
	background-color: green;
}

